:host {
  display: flex;
  flex-direction: row;
}

.board-grid {
  height: auto;
  width: auto;
  border: 1px solid grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.unit {
  box-sizing: border-box;
  border: 1px solid white;
  font-size: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  background: lightcoral;
}
