<div class="wrapper">

  <div class="title">{{ gameOver ? 'Game Over' : 'ngTetris' }}</div>

  <div class="content">
    <div class="board-wrapper">

      <div class="scores">
        <span>Score: <span class="digital">{{score}}</span></span>
        <span>Level: <span class="digital" [class.indication]="shouldIndicate$ | async">{{speedLevel$ | async}}</span></span>
      </div>

      <div class="board-grid">
        <div *ngFor="let y of board; let yIndex = index" class="row">
          <div *ngFor="let x of y; let xIndex = index" class="unit"
            [style.backgroundColor]="getBackground(yIndex, xIndex, x)"
            [style.width.px]="blockWidth"
            [style.height.px]="blockHeight"
          ></div>
        </div>
      </div>
      <div class="game-counts">
        <div>Blocks: <span class="digital">{{blocksCount}}</span></div>
        <div>Time: <span class="digital">{{timer$ | async}}</span></div>
      </div>
    </div>
    <div class="metadata">
      <div class="leaderboard-wrapper">
        <div class="leaderboard-title"></div>
        <div class="champion-wrapper" *ngIf="leaderboard">

          <div class="champion">
            <button mat-icon-button (click)="onPreviousPlace()" [class.hide-arrow]="currentPlaceDisplayed === 0">
              <mat-icon>navigate_before</mat-icon>
            </button>
            <span>{{currentPlaceDisplayed === 0 ? "Champion" : (currentPlaceDisplayed + 1) | ordinal}}</span>
            <button mat-icon-button (click)="onNextPlace()" [class.hide-arrow]="currentPlaceDisplayed === 9">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
          <div class="highest-score-number margin-top digital">{{ leaderboard[currentPlaceDisplayed]?.score }}</div>
          <div class="highest-score-player margin-top">{{ leaderboard[currentPlaceDisplayed]?.playerName ? leaderboard[currentPlaceDisplayed]?.playerName : 'Anonymous' }}</div>
          <div class="highest-score-quote margin-top" *ngIf="leaderboard[currentPlaceDisplayed]?.quote">"{{ leaderboard[currentPlaceDisplayed]?.quote }}"</div>
        </div>
      </div>
      <div style="margin-bottom: 24px;" *ngIf="!(timer$ | async)">
        <button mat-stroked-button color="primary" (click)="startGame()" style="width: 100%;">Start</button>
      </div>

    </div>
  </div>

</div>
